<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Posts')"></head>
<body>

<nav th:replace="partials/navigation :: nav"></nav>

<main class="container">

    <h1>Create Post</h1>

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}" id="contact-form" role="form">
        <p th:each="postError : ${errors}" th:text="${postError}"></p>
        <div class="controls">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" th:field="*{title}" class="form-control" placeholder="Please enter your post title"  />
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-error" />
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea th:field="*{body}" class="form-control" placeholder="Please enter your post body" ></textarea>
                        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="form-error" />
                        <br />
                    </div>
                </div>
            </div>
            <input type="submit" />
        </div>
    </form>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>


</main>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>