<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Posts')"></head>
<body>

<nav th:replace="partials/navigation :: nav"></nav>

<main class="container">

    <h1>Create Post</h1>

    <form th:action="@{/posts/create}" th:method="post" th:object="${newPost}" id="contact-form" role="form">
        <div class="controls">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input th:field="*{title}" id="title" type="text" name="title" class="form-control" placeholder="Please enter your post title" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="body">Description</label>
                        <textarea th:field="*{body}" id="body" type="text" name="body" class="form-control" placeholder="Please enter your post body" required="required" />
                    </div>
                </div>
            </div>
            <input type="submit" />
        </div>
    </form>

</main>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>