<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Posts')"></head>
<body>

<nav th:replace="partials/navigation :: nav"></nav>

<main class="container">

    <h1>Edit Post</h1>

    <form th:action="@{/posts/edit}" th:method="post" th:object="${posts}">
        Title:
        <input th:field="*{title}" th:value="${title}"/>
        <br />
        Description:
        <input th:field="*{body}" th:value="${body}"/>
        <br />
        <input type="submit" />
    </form>

</main>


</body>
</html>