<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Dice Roll')">
</head>
<body>
    <nav th:replace="partials/navigation :: nav"></nav>
    <main class="container">
        <h2>Pick your number and roll the dice</h2>
        <div class="select-num">
            <a href="/dice-outcome/2"><button class="btn-sm btn-success">2</button></a>
            <a href="/dice-outcome/3"><button class="btn-sm btn-success">3</button></a>
            <a href="/dice-outcome/4"><button class="btn-sm btn-success">4</button></a>
            <a href="/dice-outcome/5"><button class="btn-sm btn-success">5</button></a>
            <a href="/dice-outcome/6"><button class="btn-sm btn-success">6</button></a>
            <a href="/dice-outcome/7"><button class="btn-sm btn-success">7</button></a>
            <a href="/dice-outcome/8"><button class="btn-sm btn-success">8</button></a>
            <a href="/dice-outcome/9"><button class="btn-sm btn-success">9</button></a>
            <a href="/dice-outcome/10"><button class="btn-sm btn-success">10</button></a>
            <a href="/dice-outcome/11"><button class="btn-sm btn-success">11</button></a>
            <a href="/dice-outcome/12"><button class="btn-sm btn-success">12</button></a>
        </div>
    </main>

    <footer th:replace="partials/footer :: footer"></footer>

</body>
</html>